/* global */
body {
  background-color: black;
  color: orange;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.5em;
}

h2 {
  text-align: center;
}

h3 {
  font-size: small;
}
span {
  font-size: x-small;
}

/* Login Page */
.login-page {
  margin-top: 225px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-inputs {
  border: solid 3px orange;
  height: 500px;
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.username-input,
.password-input {
  width: 70%;
}

.login,
.date-filter {
  text-align: center;
  cursor: pointer;
}

/* Header */
.title-bar {
  background-color: black;
  height: 15vh;
  color: orange;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.nav-buttons {
  background-color: black;
  border-radius: 25px;
  color: orange;
  cursor: pointer;
}

.nav-buttons:hover {
  transform: scale(1.15);
}

.nav-bar {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  height: 55%;
  text-align: center;
}

.total-spend {
  height: 5%;
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
}

/* Main Section */
.main-display {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.user-input {
  background-color: #242424;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  text-align: center;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.booking-options {
  border: solid 3px orange;
  overflow-y: scroll;
  width: 80vw;
}

.past-stays-view,
.upcoming-stays-view,
.pending-stays-view {
  width: 100vw;
  overflow-y: scroll;
}

/* Trips Displays */
.trip-display {
  border: solid 1px orange;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.destination-preview {
  border-radius: 25px;
  height: 400px;
  width: 700px;
}

.destination-preview-cost {
  text-align: center;
}

.trip-image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trip-status-label {
  background-color: black;
  border-radius: 25px;
  color: orange;
  height: 30px;
  width: 80px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip-info {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}
